mixin alert-success(time)
	-if(messages.success)
		.messages.info
			div(
				class="alert alert-success"
				show-alert
				data-time="5000"
			) #{messages.success}


mixin alert-error(time)
	-if(messages.error)
		.messages.info
			div(
				class="alert alert-danger"
				show-alert
				data-time="5000"
			) #{messages.error}